<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<% if @user.gazou? %>
<p>
  <strong>プロフィール画像:</strong>
  <%= image_tag @user.gazou.url %>
</p>
<% end %>
<%= link_to '投稿一覧画面に戻る', blogs_path %>
<%= link_to '編集', edit_user_path(@user)%>
<%= link_to "お気に入り一覧",  favorites_index_path(@user) %> 